html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    /* colors */
    --color-black-20: #e0e0e0;
    --color-black-40: #adadad;
    --color-black-60: #4a4a4a;
    --color-black-80: #474747;
    --color-black-100: #141414;
    --color-white-100: #ffffff;
    --color-blue-80: #3389ff;
    --color-blue-100: #0056d6;
    --color-blue-120: #0023a3;
    --color-blue-140: #000070;
    --color-red-100: #df1507;
    --color-green-100: #047217;

    /* font */
    --font-family: Arial, sans-serif;
    --font-xs: 0.75rem;
    --font-s: 0.875rem;
    --font-m: 1rem;
    --font-l: 1.125rem;
    --font-xl: 1.25rem;

    /* line-height */
    --lh-text: 1.5;
    --lh-head: 1.25;

    /* radii */
    --radius-s: 2px;
    --radius-m: 4px;
    --radius-l: 8px;

    /* space */
    --space-xs: 0.125rem;
    --space-s: 0.25rem;
    --space-m: 0.5rem;
    --space-l: 1rem;
    --space-xl: 2rem;

    /* lines */
    --line-s: 0.0625rem;
    --line-m: 0.125rem;

    /* semantic colors */
    --color-interaction-primary: var(--color-blue-100);
    --color-interaction-secondary: var(--color-blue-120);
    --color-interaction-tertiary: var(--color-blue-140);
    --color-text-primary: var(--color-black-100);
    --color-text-secondary: var(--color-black-80);
    --color-succes: var(--color-green-100);
    --color-error: var(--color-red-100);
    --color-border-primary: var(--color-black-40);
    --color-border-secondary: var(--color-black-80);
}

html, * {
    font-size: 16px;
    line-height: var(--lh-text);
    font-family: "HK Grotesk", Arial, Helvetica, sans-serif;
    color: var(--color-text-primary);
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

#aside {
    padding: var(--space-l);
    flex: 1;
}

#container {
    padding: var(--space-l);
    flex: 2;
}

#content {
    display: flex;
    flex-direction: column;
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-l);
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
}

#formfield {
    display: flex;
    width: min(100%,320px);
    flex-direction: column;
    flex-wrap: wrap;
    row: var(--space-l);
}

label {
    font-size: var(--font-s);
    color: var(--color-text-secondary);
}

input {
    padding: calc(var(--space-m) - var(--line-s));
    border: var(--color-border-primary) solid var(--line-s);
    border-radius: var(--radius-m);
    font-size: var(--font-m);
    line-height: var(--lh-text);
}

input:hover,input:focus,input:active,input:focus-within {
    padding: calc(var(--space-m) - var(--line-m));
    border: var(--color-border-secondary) solid var(--line-m);
    border-radius: var(--radius-m);
}

#checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

input[type="checkbox"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    width: var(--font-m);
    height: var(--font-m);
    margin: 0;
    margin-top: var(--space-s);
    margin-right: var(--space-m);
    padding: initial;
    border: initial;
}

button {
    background-color: var(--color-interaction-primary);
    color: var(--color-white-100);
    box-sizing: border-box;
    border-radius: var(--radius-m);
    padding: calc(var(--space-m) - var(--line-s)) calc(var(--space-xl) - var(--line-s));
    border: var(--color-interaction-primary) solid var(--line-s);
    transition: 0.3s;
}

button:hover {
    background-color: var(--color-interaction-secondary);
    border: var(--color-interaction-secondary) solid var(--line-s);
    box-shadow: 0px 8px 20px var(--color-black-40);
    cursor: pointer;
    transform: translateY(calc(var(--space-xs) * -0.5));
    transition: 0.3s;
}

button:active {
    background-color: var(--color-text-primary);
    border: var(--color-text-primary) solid var(--line-s);
    transform: translateY(calc(var(--space-xs) * 0.5));
    box-shadow: none;
    transition: 0.3s;
}